body,
html {
  width: 100%;
  background: rgb(0, 255, 250);
  background: linear-gradient(
    15deg,
    rgba(0, 255, 250, 0.1) 0%,
    rgba(217, 255, 142, 0.2) 37%,
    rgba(214, 255, 154, 0.3) 57%,
    rgba(0, 184, 63, 0.3) 91%
  );
  font-size: 16px;
}
.person {
  width: 800px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: wrap;
  margin: 0 auto;

  font-size: 1rem;
  font-family: Arial;
  padding-top: 2rem;
}
.person__info {
  flex: 1 0 50%;
  padding-right: 2rem;
  margin-bottom: 2rem;
}
.person__contacts {
  flex: 1 0 50%;
  margin-bottom: 2rem;
}
.person__details {
  font-family: Arial, Helvetica, sans-serif;
  flex: 0 1 100%;
}
.avatar {
  margin-right: 1rem;
}
.avatar__picture {
  width: 400px;
  border-radius: 50%;
  border: 1.5rem solid #fff;
  transition: 1s;
}
.avatar__picture:hover {
  transform: rotate(180deg);
  border: 1.5rem solid #fff;
  width: 400px;
}
.contacts {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  margin-top: 100px;
  height: 100%;
  line-height: 1.2;
}
.contacts__name {
  font-size: 2rem;
  font-weight: bold;
}
.contacts__role {
  font-size: 1.2rem;
  font-weight: bolder;
  margin-bottom: 2rem;
}
.contacts__item {
  list-style: none;
  font-style: italic;
}
.contacts__title {
  font-weight: bold;
}
.contacts__title:after {
  content: ":";
}
.contacts__link {
  color: grey;
}
.paragraph {
  line-height: 1.5;
  font-weight: normal;
  text-align: left;
  margin-bottom: 1rem;
}
.paragraph_last {
  margin-bottom: 3rem;
}
